wakeUpThere/Constants.swift
*.DS_Store
wakeUpThere.xcodeproj
CertificateSigningRequest.certSigningRequest
wakeUpThere.xcodeproj/xcuserdata/*
wakeUpThere/xcuserdata/*
wakeUpThere.xcodeproj/project.xcworkspace/xcuserdata/*